.servicePallet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    color: var(--white);
    padding: 30px;
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;
    padding-bottom: 220px;
    padding-top: 100px;
    /* z-index: 3; */
}
.servicePallet:hover{
    transition: 0.5s;
    background-color: var(--green);
}
.servicePallet>div>img{
    width: 80%;
    transition: 0.25s;   
    filter: invert(48%) sepia(57%) saturate(637%) hue-rotate(82deg) brightness(97%) contrast(84%);
}
.servicePallet:hover>div>img{
    transition: 0.25s;   
    filter: unset;
}
.servicePallet>div:last-child{
    padding-top: 30px;
}
.servicePallet>div:last-child>h3{
    font-size: 12px;
}
.servicePallet>div:last-child>p{
    font-size: 14px;
}